/*CSS Reset*/

/*Background Color for the body*/
body {
	/*background-color: #d5ddef;*/
	background-color: #ffffff;
}

/*Text Fonts for Navbar*/
nav {
	font-family: 'Cinzel Decorative', cursive;
	font-size: 18px;
}

/*Navbar color and positions*/
.navbar {
	background-color:#ffffff;
	/*position: fixed;*/
	width: 100%;
	z-index: 10;
}

/*Jumbotron color and position*/
.jumbotron {
	background-color: #c2a97d;
	position: relative;
	height: 90vh;
	padding: 10%;
	font-family: 'Pangolin', cursive;
}

/*Tools Used Text column size*/
.tools {
	padding-top: 100px;
	font-family: 'Cinzel Decorative', cursive;
}

/*Tools Used picture size*/
.toolSize {
	width: 80%;
}

.colTools {
	background-color: #c2a97d;
}

/*My Project Text*/
.Project {
	margin-top: 200px;
	font-family: 'Cinzel Decorative', cursive;
}

/*About Me Text postion*/
.AboutMe {
	margin-top: 100px;
	font-family: 'Cinzel Decorative', cursive;
}

.aboutMEtextp {
	font-family: 'Quicksand', sans-serif;
}

/*About Me - column color*/
.col1 {
	background-color: #c2a97d;
	padding-top: 100px;
	padding-bottom: 80px;
	padding-right: 100px;
	padding-left: 100px;
}

/*About Me - picture size*/
.myImage {
	width: 100%;
}

/*About Me - Bio*/
.col2 {
	background-color: #a07945;
	padding-top: 100px;
	padding-bottom: 80px;
	padding-right: 100px;
	padding-left: 100px
}

/*Contact Text*/
.Contact {
	margin-top: 100px;
	font-family: 'Cinzel Decorative', cursive;
}

/*Contact Form*/
.contactPad {
	padding-bottom: 40px;
	padding-top: 40px;
	background-color: #a07945;
}

/*Capstone Project picture sizes*/
.capstone-1 {
	width: 100%;
}

.capstone-2 {
	width: 100%;
}

.capstone-3 {
	width: 100%;
}

/*Capstone Text*/
.capstoneText {
	font-family: 'Quicksand', sans-serif;
}

/*Footer color, size*/
.footer {
	width: 100%;
	background-color: #7c4a24;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 50px;
	color: white;
	text-align: center;
}

/*Footer Icon sizes*/
.icons {
	width: 50%;
}

/*Row Icons wrapping*/
.rowIcons {
	float: left;
}

/*Footer Text*/
.footerText {
	font-family: 'Cinzel Decorative', cursive;
}

.copyright {
	font-size: 10px;
	padding-top: 20px;
	font-family: 'Cinzel Decorative', cursive;
}


